export K3S_VERSION="0.7.0"
export K3S_IMAGE="rancher/k3s:v$K3S_VERSION"
export CLUSTER_DOMAIN="dev.brainest.ml"
export CLUSTER_NAME=`echo "$K3S_VERSION" | sed -E 's/\./-/g'`
export KUBECONFIG="$(k3d get-kubeconfig --name="${CLUSTER_NAME}")"
